@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@300&family=Plus+Jakarta+Sans:wght@300;400;500;600&family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Plus+Jakarta+Sans:wght@300;400;500;600&family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Plus+Jakarta+Sans:wght@300;400;500;600&family=Poppins:wght@400;700&display=swap");

body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.container {
  flex: 1;
}
.navbar {
  height: 4.5rem;
  background-color: #ebebee;
}
.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}
.nav-link {
  color: #222222 !important;
}
.f-info-links {
  gap: 10px;
}
.f-info-links a {
  text-decoration: none;
  color: #222222;
}
.f-info-links a:hover {
  text-decoration: underline;
  color: #151515;
}
.f-info {
  display: flex;
  height: 8rem;
  background-color: #ebebee;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
  text-align: center;
}
.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.f-info-socials i {
  cursor: pointer;
  font-size: 1.2rem;
  margin-right: 1rem;
}

img {
  border: 3px solid #d0d0d3;
}

/* cards */

.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100%;
  object-fit: cover !important;
}
.card-body {
  padding: 0px !important;
  margin-left: 10px;
}
.card-text p {
  font-weight: 400;
}
.card-text {
  font-weight: 500;
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Lato", sans-serif;
}
.card-text b {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.listing-link {
  text-decoration: none;
}
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

#comments textarea {
  width: 650px !important;
}

.add-btn {
  background-color: #fe424d !important;
  border: none !important;
  width: 80px !important;
}

.add-btn:hover {
  background-color: #ee3c45 !important;
}
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
  width: 80px !important;
}
.edit-btn:hover {
  background-color: #ee3c45 !important;
}

.show-img {
  height: 60vh;
  width: 680px !important;
  margin-left: -54px !important;
}

.card-img-overlay {
  font-size: 26px;
  color: red;
}

.btns {
  display: flex;
}
.show-card {
  padding-left: 0;
  padding-right: 0;
}

#show-body {
  margin-top: -6rem !important;
}

#lis-tit {
  margin-top: 130px;
  margin-bottom: 38px;
  height: 10%;
  box-sizing: border-box;
  width: 70%;
  text-align: center;
}

.row .allreview {
  margin-top: 40px;
  font-size: 22px;
  margin-left: 10px;
  font-weight: 500;
}

.hrshow {
  width: 88%;
}

/* Map */
#map {
  height: 440px;
  width: 760px;
  border: 6px solid #d0d0d3;
  border-style: ridge;
  margin-left: -80px;
}
.maph3 {
  margin-left: -70px;
}

nav {
  position: sticky !important;
}

/* index.ejs */

#filters {
  display: flex;
  overflow-x: scroll;
  align-items: center;
}
#filters::-webkit-scrollbar {
  display: none;
}
#filters {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.filter {
  text-align: center;
  margin-right: 2rem;
  margin-top: 2rem;
  opacity: 0.8;
}
.filter:hover {
  opacity: 1;
  cursor: pointer;
}
.filter p {
  font-size: 0.8rem;
}
.tax-info {
  display: none;
}
.tax-info2 {
  display: none;
}

.tax-toggle {
  border: 1px solid black;
  border-radius: 1rem;
  height: 3.25rem;
  padding: 1rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

.responsive {
  display: none;
  visibility: hidden;
}

footer {
  background-color: #ebebee;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* background-color: burlywood; */
  text-decoration: none;
  max-width: 100vw;
  margin: auto;
  padding: 40px 80px;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 15px;
}

.footer-item a {
  text-decoration: none;
  color: #151515;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 600px) {
  HTML,
  body {
    width: 100%;
    overflow-x: hidden;
    offset: none;
    margin-top: 80px;
  }

  .container-fluid {
    background-color: #ebebee;
    color: white;
    text-align: center;
  }
  .navbar {
    position: fixed !important;
    width: 100%;
  }
  #show-body {
    width: 180% !important;
    margin-left: -130px;
  }

  .show-img {
    height: 34vh;
    width: 110% !important;
    margin-left: -16px !important;
  }

  #comments textarea {
    width: 265px !important;
    height: 140px !important;
  }

  #card-body {
    width: 65% !important;
  }

  .card-body {
    margin-left: 10px;
  }

  .card-img-overlay {
    font-size: 16px;
    color: red;
  }

  .hrshow {
    width: 70%;
  }

  #map {
    width: 265px;
    height: 350px;
    border: 4px solid #ebebee;
    border-style: groove;
    margin-left: 6px;
  }

  .maph3 {
    margin-left: 10px;
    margin-bottom: -8px;
  }

  .alert {
    padding-right: 3rem;
    width: 280px !important;
    margin-left: 30px !important;
  }

  #filters {
    display: flex;
    overflow-x: scroll !important;
    align-items: center;
    margin-bottom: -16px;
    margin-top: -13px;
  }

  #filters .tax-toggle {
    display: none;
  }

  .responsive {
    display: flex !important;
    justify-content: center !important;
    visibility: unset;
    margin: 12px 16px 25px 16px;
    border: 1px solid silver;
    border-style: ridge;
    border-radius: 16px;
    padding: 16px;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 30px;
    gap: 36px;
  }

  .footer-item hr {
    width: 100%;
  }

  #log {
    width: 340px !important;
    margin-left: auto;
    margin-bottom: 20px;
    text-align: center;
  }

  #create {
    width: 160% !important;
    margin-right: auto;
    font-weight: 700;
  }

  #custom {
    width: 260px !important;
    margin-left: -40px;
  }
}
