body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.container {
  flex: 1;
}
.navbar {
  height: 4.5rem;
  background-color: #ebebee;
}
.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}
.nav-link {
  color: #222222 !important;
}
.f-info-links {
  gap: 10px;
}
.f-info-links a {
  text-decoration: none;
  color: #222222;
}
.f-info-links a:hover {
  text-decoration: underline;
  color: #151515;
}
.f-info {
  display: flex;
  height: 8rem;
  background-color: #ebebee;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
  text-align: center;
}
.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.f-info-socials i {
  cursor: pointer;
  font-size: 1.2rem;
  margin-right: 1rem;
}

img {
  border: 3px solid #d0d0d3;
}

/* cards */

.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100%;
  object-fit: cover !important;
}
.card-body {
  padding: 0 !important;
}
.card-text p {
  font-weight: 400;
}
.listing-link {
  text-decoration: none;
}
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

.add-btn {
  background-color: #fe424d !important;
  border: none !important;
  width: 80px !important;
}

.add-btn:hover {
  background-color: #ee3c45 !important;
}
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
  width: 80px !important;
}
.edit-btn:hover {
  background-color: #ee3c45 !important;
}

.show-img {
  height: 30vh;
}
.btns {
  display: flex;
}
.show-card {
  padding-left: 0;
  padding-right: 0;
}

#lis-tit {
  margin-top: 14px;
  margin-bottom: 20px;
  height: 10%;
  box-sizing: border-box;
  width: 70%;
  text-align: center;
}

/* Map */
#map {
  height: 420px;
  width: 660px;
  border: 4px solid #d0d0d3;
  border-style: ridge;
}

@media (max-width: 600px) {
  HTML,
  body {
    width: 100%;
    overflow-x: hidden;
    offset: none;
  }

  .container-fluid {
    background-color: #ebebee;
    color: white;
    text-align: center;
  }

  #show-body {
    width: 180% !important;
    margin-left: -130px;
  }

  #comments {
    width: 70% !important;
  }

  #card-body {
    width: 65% !important;
  }

  #map {
    width: 265px;
    height: 350px;
    border: 4px solid #ebebee;
    border-style: groove;
  }

  #filters {
    display: flex;
    overflow-x: scroll !important;
    align-items: center;
  }

  .tax-toggle {
    display: grid !important;
    margin-right: 30px;
    height: 1rem;
  }
  .tax-toggle label {
    font-size: 10px;
    display: none;
  }
}
