<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <h1 class="col-6 offset-3" style="color: rgb(237, 28, 28)" id="log">
    SignUp on Wanderlust
  </h1>
  <div class="col-6 offset-3">
    <form
      action="/signup"
      method="POST"
      class="needs-validation"
      id="custom"
      novalidate
    >
      <div class="mb-3">
        <lable for="username" class="form-label">Username</lable>
        <input
          name="username"
          id="username"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <lable for="email" class="form-label">Email</lable>
        <input
          name="email"
          id="email"
          type="email"
          class="form-control"
          required
        />
      </div>
      <div class="mb-3">
        <lable for="password" class="form-label">Password</lable>
        <input
          name="password"
          id="password"
          type="password"
          class="form-control"
          required
        />
      </div>
      <button class="btn btn-success">SignUp</button>
    </form>
    <div style="margin-top: 10px" id="account">
      <p>Already have an account?&nbsp;<a href="/login">Login in</a></p>
    </div>
    <div class="googleoauth">
      <button><a href="/auth/google"><img src="/images/google-login.jpg">Sign up with Google</a></button>
    </div>
    <br>
    <div class="googleoauth">
      <button><a href="/auth/twitter"><img src="/images/twitter.jpg">Sign up with Twitter</a></button>
    </div>
    <br>
    <div class="googleoauth">
      <button style="background-color: black;"><a href="/auth/github" style="color: aliceblue;"><img src="/images/github.svg">Sign up with Github</a></button>
    </div>
  </div>
  <div style="margin-bottom: 40px"></div>
</div>
